body {
    display: flex;
    flex-direction: column;
}


.container-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding-bottom: 75px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.hero-section {
    display: flex;
    gap: 24px;
    flex: 1;
}

.text-button {
    display: flex;
    flex-direction: column;
    flex: 1;
}

img {
    max-width: 200px;
    border-radius: 30px;
}

.text-button .main-text {
    font-size: 32px;
}

.text-button .sub-text {
    font-size: 16px;
    font-weight: 100;
}

button {
    max-width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 10% 30px;
}